<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springalltest.business.mapper.GagMapper">
    <resultMap id="BaseResultMap" type="com.example.springalltest.business.bean.Gag">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="gag_time" jdbcType="DATE" property="gagTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from gag
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.example.springalltest.business.bean.Gag">
        insert into gag (id, create_time, gag_time,
                         user_id)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{gagTime,jdbcType=DATE},
                #{userId,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.springalltest.business.bean.Gag">
        update gag
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            gag_time    = #{gagTime,jdbcType=DATE},
            user_id     = #{userId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            id,
            create_time,
            gag_time,
            user_id
        from gag
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            id,
            create_time,
            gag_time,
            user_id
        from gag
    </select>
</mapper>