<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springalltest.business.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.springalltest.business.bean.User">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="createTime" jdbcType="DATE" property="createtime"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.springalltest.business.bean.User">
        insert into user (ID, userName, password,
                          createTime, status)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{createtime,jdbcType=DATE}, #{status,jdbcType=CHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.springalltest.business.bean.User">
        update user
        set userName   = #{username,jdbcType=VARCHAR},
            password   = #{password,jdbcType=VARCHAR},
            createTime = #{createtime,jdbcType=DATE},
            status     = #{status,jdbcType=CHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            ID,
            userName,
            password,
            createTime,
            status
        from user
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            ID,
            userName,
            password,
            createTime,
            status
        from user
    </select>
    <select id="findByUserName" resultMap="BaseResultMap">
        select * from t_user where username = #{userName}
    </select>

</mapper>